########################
### PACKAGE MANAGERS ###
########################

# pnp
**/.pnp
.pnp.js

# yarn
**/.yarn

####################
### DEPENDENCIES ###
####################

**/node_modules

# eslint
.eslintcache

# certificates for https
certificates

#####################
### BUILD-RELATED ###
#####################

# typescript
*.tsbuildinfo

# webpack
build
dist

# Noir
aztec/contracts/**/artifact
aztec/contracts/**/target
codegenCache.json

# tailwind
src/styles/global.css

############
### LOGS ###
############

*-debug.log*
*-error.log*

##############
### VSCODE ###
##############

# vscode: ignore all files...
.vscode/*
# ...except
!.vscode/extensions.json
!.vscode/settings.json

################
### SETTINGS ###
################

backend/gateway_address
.env
settings

#####################
### MISCELLANEOUS ###
#####################

.DS_Store
