# ignore all files and folders
/*

# keep src folder
!src/

# ignore all files in src/contracts
src/contracts/*

# keep .json and .ts files in src/contracts and its sub-folders
!src/contracts/**/*.json
!src/contracts/**/*.ts

# keep root .js(on) files
!*.js
!*.json
