# ignore all files and folders
/*

# keep src and tests folders
!backend/
!common/
!src/
!tests/

# keep .json and .ts files in src/contracts and its sub-folders
!src/contracts/**/*.json
!src/contracts/**/*.ts

!scripts/loadenv.js

# keep root .js(on) files
!*.js
!*.json
