@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  * {
    box-sizing: border-box !important;
  }

  body {
    min-width: 100dvw;
    min-height: 100dvh;

    opacity: 1;
    background: none;
    background-color: rgba(0, 0, 0, 1);
    background-size: cover;
    background-position: center;
    color: rgba(235, 235, 235, 1);

    display: flex;
    place-items: center;

    overflow: hidden;
    scrollbar-width: none;
    overscroll-behavior: none;

    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */

    touch-action: none; /* prevent pinch-zoom */
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */

    user-select: none;
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
  }

  #root {
    width: 100%;
    text-align: center;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  @media all and (display-mode: standalone) {
    html.scrollable {
      overscroll-behavior: auto;
    }
  }
}

#gps {
  width: 70dvw;
  font-size: 16pt;
  position: fixed;
  left: 4rem;
  bottom: 1rem;
  display: flex;
  justify-content: center;
  z-index: 99999;
}

body::-webkit-scrollbar {
  display: none;
}

.item-text {
  color: white;
  text-shadow:
    -1px -1px 2px #000,
    1px -1px 2px #000,
    -1px 1px 2px #000,
    1px 1px 2px #000;
  font-weight: 600;
  font-size: 20px;
}
.no-text-shadow {
  text-shadow: none !important;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 28px;
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
  z-index: 9999;
}

.menu-options ~ label {
  position: absolute;
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
  width: 60px;
  height: 60px;
  margin-left: -30px;
  margin-top: 10px;
  border-radius: 100%;
  z-index: 2;
  display: flex;
  text-align: center;
  justify-content: center;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition:
    opacity 200ms ease-in,
    transform 200ms ease-out;
  cursor: pointer;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
}

.menu-options ~ label:hover {
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
}

.menu-item {
  position: absolute;
  transform: translate3d(0, 0, 0);
  width: 70px;
  line-height: 70px;
  margin-left: -35px;
  margin-top: 5px;
  border-radius: 100%;
  text-align: center;
  transition:
    opacity 300ms ease-in,
    transform 300ms ease-out;
}

.menu-item:hover {
  background: #eeeeee;
}

.menu-options:checked ~ div {
  transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

.menu-options:checked ~ div:nth-child(3) {
  transition-duration: 333ms;
  transform: translate3d(0, -105px, 0);
}

.menu-options:checked ~ div:nth-child(4) {
  transition-duration: 433ms;
  transform: translate3d(99.1875px, -28.47586px, 0);
}

.menu-options:checked ~ div:nth-child(5) {
  transition-duration: 566ms;
  transform: translate3d(61.6987px, 84.9517px, 0);
}

.menu-options:checked ~ div:nth-child(6) {
  transition-duration: 700ms;
  transform: translate3d(-61.6987px, 84.9517px, 0);
}

.menu-options:checked ~ div:nth-child(7) {
  transition-duration: 866ms;
  transform: translate3d(-99.1875px, -28.47586px, 0);
}

.blue {
  background-color: #669ae1;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.blue:hover {
  color: #669ae1;
  text-shadow: none;
}

.green {
  background-color: #70cc72;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.green:hover {
  color: #70cc72;
  text-shadow: none;
}

.red {
  background-color: #fe4365;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.red:hover {
  color: #fe4365;
  text-shadow: none;
}

.purple {
  background-color: #9056b7;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.purple:hover {
  color: #9056b7;
  text-shadow: none;
}

.orange {
  background-color: #fc913a;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.orange:hover {
  color: #fc913a;
  text-shadow: none;
}

.menu-disabled {
  background-color: #bdc3c7;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
  pointer-events: none;
}

.hover\:bg-main-purple-hover:hover {
  background-color: rgba(102, 34, 155, 0.8);
}
